@using MVC.WebUI.Helpers

@{
    ViewBag.Title = "My Account";
}

@Html.Breadcrumb()

<section>
    <h1>My Account</h1>

    @Html.Partial("_alert")

    <ul>
        <li>@Html.ActionLink("Change Password", "change-password")</li>
    </ul>
</section>
